<!DOCTYPE html>
<html>
<head>
    <title>Registered Users List</title>
</head>
<body>

    <h1>Registered Users</h1>

    <% if (users.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td>**<%= user.username %>**</td>
                        <td><%= user.email %></td>
                        </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No users found in the database.</p>
    <% } %>

</body>
</html>